@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-text-primary font-sans antialiased;
  }
}

@layer utilities {
  .offset-text {
    display: inline-block;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .hover\:rotate-15:hover {
    transform: rotate(15deg);
  }
}
